APP_ENV=local
APP_DEBUG=1
APP_URL=http://localhost/EkoZavrsni/public

DB_DRIVER=oci
DB_HOST=localhost
DB_PORT=1521
DB_SERVICE_NAME=XEPDB1
DB_USERNAME=EkoZavrsni
DB_PASSWORD=
DB_CHARSET=AL32UTF8

JWT_SECRET=dms-organizacija-shared-secret-2026
JWT_ALGO=HS256